
.about-us {
    padding: 80px 0;


  }
  
  .section-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .btn-primary {
    background-color: #f96332;
    border-color: #f96332;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #e75122;
    border-color: #e75122;
  }
  
  .img-fluid {
    max-width: 100%;
    
  }
  