:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    height: 100vh;
    overflow: hidden;
  }
  


  /* dropdowncss */
  select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    background-color: #007bff;
  }
  
  select:focus{
    outline:none;
    background-color: #007bff;
  }